<div class="container">
  <h2>Books </h2>

  <label>Add an item: <input  type="number" #newItem></label>
  <button (click)="addNewItem(newItem.value)">Add</button>
  <p> Selected quantity to put    {{counter}}     
  
  <div *ngFor="let product of books">
    <div class="border">
      <div class="wrap">
        <div class="product-wrap">
          <a href="#"><img src="https://www.teahub.io/photos/full/190-1905234_book-wallpaper-hd-5617-data-src-book-desktop.jpg"></a>
        </div>
        <div class="loop-action">
          <p *ngIf="product.isAvailable">
            <button (click)="buy(product)">
              <a href="#" class="add-to-cart"> Buy</a>
            </button>
          </p>
          <p><button (click)="view()">
            <a href="#" class="add-to-cart"> Quick view</a>
          </button>
        </p>
       
        </div>
      </div>
        <div class="product-info">
          <div class="stars"></div>
          <h3 class="product-title">
           <b>Name:</b> {{ product.name}}
            <br>
          <b>Book description: </b> {{ product.description}}
            <br>
           <b>Is available:</b> {{ product.isAvailable}}
           <br>
           <b> Release year :</b> {{  product.createDate}}
           <br>
           <b> Id :</b> {{  product.id}}
          </h3>
          <div class="price">  {{ product.price}} &euro;</div>
          <br>
         
          <div *ngIf="product.isAvailable"> At storage: {{ product.quantity}} </div>
       </div>
    </div>
  
   
  </div>


</div>
