
<div  *ngIf="book" class="container">
  <div class="border">
    <div class="wrap">
      <div class="product-wrap">
        <a href="#"><img src="https://www.teahub.io/photos/full/190-1905234_book-wallpaper-hd-5617-data-src-book-desktop.jpg"></a>
      </div>
      <div class="loop-action">
        <p *ngIf="book.isAvailable">
          <button  >
            <a href="#" class="add-to-cart"  (click)="removeBook(newItem.value, book,true)" > Remove</a>
          </button>
        </p>
        <p><button >
          <a href="#" class="add-to-cart"> Quick view</a>
        </button>
      </p>
     
      </div>
    </div>
      <div class="product-info">
        <div class="stars"></div>
        <h3 class="product-title">
         <b>Name:</b> {{ book.name}}
          <br>
        <b>Book description: </b> {{ book.description}}
          <br>
         <b>Is available:</b> {{ book.isAvailable}}
         <br>
         <b> Release year :</b> {{  book.createDate}}
         <br>
         <b> Id :</b> {{  book.id}}
        </h3>
        <div > Category: {{ book.randomRole|uppercase}} </div>
        <br>
        <div class="price">  {{ book.price|currency}} </div>
        <br>
       
        <div *ngIf="book.isAvailable"> At basket: {{ book.quantity}} </div>
        <br>
        <label >
          <input  type="number" #newItem value ={{counter1}} placeholder={{counter1}} >
       </label>
          <button (click)="increaseQuantity()">+</button>
          <button (click)="decreaseQuantity()">-</button>
      
    
  </div>
  
 


  
 
  
</div>


